<app-header></app-header>

<div class="content text-center pt-20">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
        Découvrez la localisation en temps réel de vos transports</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">Bienvenue sur ce site dédié à la
        surveillance de vos déplacements.</p>
    <a [routerLink]="'/trackingsocket'"
        class="mr-5 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:ring-blue-300">
        Tracking v2 (avec Websocket)
    </a>
    <a [routerLink]="'/tracking'"
        class="ml-5 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:ring-blue-300">
        Tracking v1 (sans Websocket)
    </a>
</div>